<!DOCTYPE html>
<html lang="en">
<head>
    <% include include/header.ejs %>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dr. Dave</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="getkey">Key Finder</a></li>
                <li class="active"><a href="analyze">Analyze Chords</a></li>
                <li><a href="#">Song Generator</a></li>
                <li><a href="#">Teach Stupid Dave</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Analyze Chord Progression</h1>
        <p class="lead">Some chord progressions are quite popular and catchy. They are used in many famous songs.<br/> I'll help you analyze your chord progression and tell you if it's one of those!</p>

        <p>Submit comma separated chords in boxes below and hit Submit button</p>
        <form>
                <div class="section">
                    <span class="sectionTitle">Key : </span>
                    <select>
                        <option>Auto-detect</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                        <option>F</option>
                        <option>G</option>
                        <option>F#</option>
                        <option>Ab</option>
                        <option>Bb</option>
                        <option>Db</option>
                        <option>Eb</option>
                    </select>
                </div>
                <div class="section">
                    <span class="sectionTitle">Intro : </span><textarea rows="2" cols="60"></textarea> <br/>
                </div>
                <div class="section">
                    <span class="sectionTitle">Verse : </span><textarea rows="2" cols="60"></textarea> <br/>
                </div>
                <div class="section">
                    <span class="sectionTitle">Prechorus : </span><textarea rows="2" cols="60"></textarea> <br/>
                </div>
                <div class="section">
                    <span class="sectionTitle">Chorus : </span><textarea rows="2" cols="60"></textarea> <br/>
                </div>
                <div class="section">
                    <span class="sectionTitle">Solo : </span><textarea rows="2" cols="60"></textarea> <br/>
                </div>
                <div class="section">
                    <span class="sectionTitle">Bridge : </span><textarea rows="2" cols="60"></textarea> <br/>
                </div>
                <div class="section">
                    <span class="sectionTitle">Outro : </span><textarea rows="2" cols="60"></textarea> <br/>
                </div>
                <button type="button" class="btn btn-md btn-default">Clear</button>
                <button type="button" class="btn btn-md btn-primary">Help me, Doctor!</button>
        </form>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
