<!DOCTYPE html>
<html lang="en">
<head>
    <% include include/header.ejs %>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dr. Dave</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="getkey">Key Finder</a></li>
                <li><a href="analyze">Analyze Chords</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Key Finder</h1>
        <p class="lead">Submit comma separated chords in the box below and I'll tell its key for you!</p>
        <p>Tip: You can hit tab instead of typing comma</p>

        <form>
            <textarea rows="8" cols="60" style="resize: none;"></textarea><br/>
            <button type="button" class="btn btn-md btn-default">Clear</button>
            <button type="button" class="btn btn-md btn-primary">Help me, Doctor!</button>
        </form>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>

</body>
</html>
